body *{ margin: 0; padding: 0; font-family:verdana, "Comic Sans MS",Helvetica,sans-serif;}
a img,:link img,:visited img { border: none; }
a	{ text-decoration:none; color:#336699; font-weight:bold; }
a:hover { text-decoration: underline; }
body, td{  margin: 0;  padding: 0;  font-size: small;}
body{	background:#fff;	color:#000;}
b{ font-weight:bold; }
textarea{ font-size:small; }
.tCenter	{ text-align:center; }
.siteLink	{ color:#0060AF; }
.content	{ width:100%; min-width:200px; margin:auto; padding-top:0;}
.header{ text-align:center; } 
.logo	{ background:url(http://freemaza.in/images/bg.gif) repeat-x; text-align:center; color:#ffffff; }
.logo	a { color:#fff; font-weight:bold; }

hr{background-color:#D2D2D2; border:medium none; height:1px; margin:2px 0; padding:0;}
h2{ text-align:center; background:#1d519d; border:2px solid #97b0d6; color:#DFF4FF;  color:#DFF4FF; font-size:100%; padding:5px; }
h2 a{ color:#ffffff; }
h3{ color:#fff; background:#5F83D9; padding:3px; }
.clear{ clear:both; }
.absmiddle	{ vertical-align:middle; }
.bt	{ border-top:1px dashed #bbb; }
.bb	{ border-bottom:1px dashed #bbb; }
.odd, .even, .sl	{ margin:2px 0; padding:2px 0 2px 2px; vertical-align:middle; }
.odd	td { border-top:1px dashed #bbb; }
.even	td { border-top:1px dashed #bbb; }
.description { background:#f5f5f5; color:#222; padding:2px; }
.description a { text-decoration:underline; }
.filedescription { background:#f5f5f5; padding: 5px 0; text-align: center; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }
h1, .hd{background:#960000;color:#FFFFFF;font-size:small; font-weight:bolder; line-height:20px;padding:0;text-align:center;vertical-align:middle;}

.pl2 { padding-left:2px; }
.link1{ color:#aa0000; }
.button { color:#086C8F; font-weight:bold; }
.red { color:red;}
.info	{ color:red; background:#fff; text-align:center; padding:2px; }
p{ padding:2px 0; }

table	{ width:100%; margin:auto;}
table th	{ background:#ffffff; }
table tr	{ background:#ffffff; }
table td	{ padding:5px; }

.devider	{background:#fff; height:5px;}
.form_error	{ color:#f00; }
.dtype	{padding:4px;font-size:x-small;text-align:center;}
.bkmk	{padding:2px;text-align:center; color:#f00; }
.path{ padding:2px; border:1px solid #ddd; }

.fileName	{ font-weight:bold; }
.search	{ padding:2px; font-weight:bold; }
.dwnLink	{  }
.fshow { padding:5px; }
.pgn	{ text-align:center; background:#DDE7F1; border-bottom:1px solid #abc; border-top:1px solid #abc; }
.pgn span	{ font-weight:bold; color:#bbb; }
img	{ vertical-align:middle; }
.showimage	{ padding : 5px 0 5px 0; text-align : center; border-top : 1px dashed #960000; border-bottom : 1px dashed #960000; }
.cthumb{ padding:1px; border:1px solid #555; margin:2px;}
.tblimg	{ width:52px; text-align:center; }
.tblimg img	{ border:1px solid #ddd; }

.ftrLink{ background:#ebeef2; border-top:1px solid #abc; padding:5px; font-weight:bold; text-align:center;  }

a.top {color:#FF7F00; font-size:smaller; text-decoration:none; }

.ad1	{ background:#EBEEF2; font-weight:bold; }
.ad1 a	{ font-weight:bold; }
.ad2	{ font-weight:bold; }
.ad3	{ color:#333; }
.ad4	a{ color:#a00; }
.adBold *{ font-weight:bold; }
.adLinkBold a { font-weight:bold; }
.timg { border-radius: 5px; }
.updates div	{ border-bottom:1px dashed #bbb; padding:3px; }

.online { }
.online h2	{ color:#f00; }
.online div	{ border-bottom:1px dashed #bbb; padding:3px; }
.online span	{ font-weight:bold; }

.catRow	{ border-top:1px dashed #bbb; padding:3px; }

.randomFile	{color:#fff; border:2px solid #960000;}
.randomFile	a {color:#fff;}
.randomFile	tr {background:#555; }

.guestentry { border-top:1px solid #eee; border-bottom:1px solid #ddd; padding:2px; background:#f7f7f7; }
.guestanswer	{ color:#f00; }